
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>:: Run & Co :: Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Iconic Bootstrap 4.5.0 Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="~/Content/img/favicon/fav-login.png" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/main.css">

</head>

<body data-theme="light" class="font-nunito">
    <!-- WRAPPER -->
    <div id="wrapper" class="theme-cyan">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="~/Content/img/sub-logo-light.png" alt="Run&Co.">
                    </div>
                    <div class="card">

                        <div class="header">
                            <p class="lead">Login to your account</p>
                            <small>@*Login with your regular account*@</small>
                            <small>Login in. To see it in action.</small>
                        </div>
                        <div class="body">
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <strong style="font-weight:600">Oops! </strong> @ViewBag.Message
                                </div>
                            }

                            @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { @class = "md-float-material form-material" }))
                            {
                                @Html.AntiForgeryToken()

                                <form class="form-auth-small" action="index.html">
                                    <div class="form-group">
                                        <label for="signin-email" class="control-label sr-only">Email</label>
                                        <input type="email" name="email" class="form-control" id="signin-email" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" name="password" class="form-control" id="signin-password" placeholder="Password">
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom d-flex flex-column align-items-center justify-content-center">
                                        <span class="helper-text m-b-5 m-t-10">
                                            <i class="fa fa-lock"></i>
                                            @Html.ActionLink("Forgot password?", "ForgetPassword", "Home", null, new { @class = "text-end f-w-600" })
                                        </span>
                                        <span>Don't have an account? <a href="page-register.html">Register</a></span>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>
</html>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 6000);
</script>